body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url("images/background.png");
    background-size: 200px 150px;
    background-repeat: repeat;
    cursor: url("images/cursor.png") 16 16, auto;
    margin: 20px;
    text-align: center;
}
h1{
    color:rgb(9, 90, 161);
}
.radical{
    color: rgb(67, 7, 146);
}
ul{
    margin-left: 30%;
    text-align: left;
    font-size:2.5em;
}
.wave{
    position:absolute;
    top:8%;
    left:5%;
}
.wave2{
    position: absolute;
    top: 8%;
    right:5%;
}
.flex{
    width: 15em;
}
table{
     background-color: rgb(217, 69, 15);
    color: rgb(255, 255, 255);
    width: 50%;
    margin: 0 auto 10px auto;
    box-shadow: -5px 5px black;
}
th, td {
    border: 5px solid black;
}
.eating{
    position: absolute;
    top: 1356px;
    left:75%;
    width: 180px
}
.spaghetti{
    position: absolute;
     top: 1356px;
    right:75%;
    width: 180px
}